@import url("https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap");
*{
    box-sizing: border-box;
}
body {
  background-color: darkslategray;
  color: white;
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden
}
h1{
    margin: 20px 0 0;
}
.game-con{
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 300px;
    width: 400px;
}
.incorrect-letters-con{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.incorrect-letters-con p{
    margin: 0 0 5px;
}
.incorrect-letters-con span{
    font-size: 24px;
}
.word{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.letter{
    border-bottom: 3px solid white;
    display: inline-flex;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    height: 50px;
    width: 20px;
}
.popup-con{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.popup{
    background-color: white;
    color: darkslategray;
    border-radius: 10px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}
.popup button{
    cursor: pointer;
    background-color: darkslategray;
    color: white;
    border: 0;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}
.popup button:active{
    transform: scale(0.95);
}
.notification-con{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -70px;
    transition: transform 0.5s ease-in-out ;
}
.notification-con.show{
    transform: translateY(-70px);
}
.notification-con p{
    margin: 0;

}
.figure-con {
  fill: transparent;
  stroke: white;
  stroke-width: 5px;
  stroke-linecap: round;
}
.figure-part {
  display: none;
}
